registry=https://registry.npmmirror.com/
npm config set fetch-retry-maxtimeout 60000
npm config set fetch-retry-mintimeout 20000
npm config set fetch-retries 5
npm config set timeout 120000
npm config set network-timeout 120000
npm config set fetch-timeout 120000